footer a {
	text-decoration: none;
}

.footer-contacts,
.footer-languages,
.footer-social {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.footer-languages,
.footer-social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: left;
}
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
	.footer-contacts {
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: left;
	}
}
